.idea/
maximo-restclient.iml
target/
*/taget/**
*/**/target
.project
*/.project
*/**/.project
.settings
*/.settings
*/**/.settings
.classpath
*/.classpath
*/**/.classpath
*/.springBeans
*/**/.springBeans
/bin/
*/mylog.log
.idea/
**/.iml
*.iml
*/**/mylog.log
*/*/mylog.log


target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/ 
